@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

#resultsHeaderText, #viewButton, #saveButton {
    font-family: "Open Sans", sans-serif;
}

.bookDescriptionText, .bookTitle {
    font-family: "Open Sans", sans-serif;
}

.userMessage {
    margin-left: 20px;
    margin-bottom: 10px;
}

#bookSearchResultsDiv {
    margin-bottom: 50px;
}